<div class="guInteractive">

    <div class='guHeader'>
        <h1>The rules of Oscar speeches</h1>
        <p class='guSubHead'>TK text goes here and here and here and here. Some speeches were   personal,  while others were political and a few you left viewers shocked.</p>
    </div>

    <div class='guContent'>
        <div class='colA'>

               <!-- <topics topics="{{topics}}"/> -->
 
        </div>
        <div class='colB'>
        <div id="winners">
            <speeches on-hoverCategory="highlightCategory"/>
        </div>  
        </div>

    </div>


</div>
