/**
 * Project: Project name 
 * File:    Main SCSS
 */



// @import 'bower_components/pasteup-palette/src/_palette';
// @import 'bower_components/guss-webfonts/src/_webfonts.scss';
// @import 'bower_components/guss-typography/_typography.scss';

@import 'modules/fonts';

// @include guss-typography-defaults;

@mixin border-box {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

figure, body {
	margin: 0;
}

p {
	// @include fs-bodyCopy(2);
}

.guInteractive {
    //color: map-get($pasteup-palette, 'guardian-brand');
    background: #f9f8f2;
    @include border-box;
    padding: 15px;
    max-width: 860px;
    -webkit-font-smoothing: antialiased;
    font-family: 'Guardian Egyptian Web', Georgia;
    *{
    	box-sizing:border-box;
    }
}

.topics {
	width: 100%;
	

	.topic {
		// font-family: $f-sans-serif-text;
		font-size: 14px;
		background: #fff;
		margin-bottom: 2px;
		line-height: 1.75em;
		padding: 0 5px;
		// @include border-box;
	}
}


.guHeader {
	@include border-box;

	h1{
		font-family: 'Guardian Egyptian Web', Georgia;
		font-size: get-font-size(headline, 5);
		margin: 0 0 10px 0;
		line-height:1.1em;

	}

	.guSubHead {
		// @include fs-bodyCopy(2);
		margin: 0;
	}
}
#winners{
	margin-top:20px;
	&:after{
		clear:both;
		content:'';
		display:block;
	}
}
.speech{
	width:49%;
	float:left;
	margin-bottom:40px;
	margin-right:2%;
	.winner{
		border-bottom:2px solid #ddd;
	}
	&:nth-of-type(2n+2){
		margin-right:0;
	}
	h2{
		// font-family: $f-sans-serif-text;
		font-family: 'Guardian Text Sans Web', Arial;
		font-size:12px;
		color:#ddd;
		margin:0;
		line-height:1.1em;
		font-weight:normal;
	}
	h3{
		// font-family: $f-serif-headline;
		margin:0;
		font-size:14px;
		font-weight:bold;
	}
}

.speechCategory{
	width:100%;
	color:#ccc;
	padding:4px 5px;
	font-size:12px;
	// font-family: $f-sans-serif-text;
	margin-bottom:1px;
	line-height:1.1em;
	font-family: 'Guardian Text Sans Web', Arial;
	background:#fff;
	// height:10px;
	&.active{
		background:#ffbb00;
		color:#333;
	}
}

@media (min-width: 480px) {
	.speech{
		width:32%;
		margin-right:2%;
		&:nth-of-type(2n+2){
			margin-right:2%;
		}
		&:nth-of-type(3n+3){
			margin-right:0;
		}
	}
}

@media (min-width: 620px) {
	.guHeader {
		padding-left: 120px;
	}

	.guContent{
		display: table;
		padding-top: 20px;

		.colA {
			display: table-cell;
			width: 120px;
			margin-right: 15px;
		}

		.colB {
			display: table-cell;
			max-width: 800px;
		}
	}

}

@media (min-width: 860px) {
	.guHeader {
		padding-left: 220px;
	}

	.guContent{
		display: table;

		.colA {
			width: 220px;
			padding-right: 20px;
		}
	}
}